@model TuningStudioSite.Models.DbEntities.Master

@{
    ViewBag.Title = "Особова картка майстра";
}

<h2>Особова картка майстра</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            П.І.Б Майстра
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            Встановлена зарплата
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Money)
        </dd>

        <dt>
            Телефон
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            Адреса проживання
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редагувати", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Показати усіх майстрів", "Index")
</p>
